{% load static django_vite %}

<!DOCTYPE html>
<html lang="en" class="h-full" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js"></script>
    <style>
        trix-toolbar [data-trix-button-group="block-tools"] { 
            display: none;
        }
        
        trix-toolbar [data-trix-button-group="file-tools"] { 
            display: none;
        }
      </style>
    {% vite_hmr_client %}
    {% vite_asset 'static/src/app.js' %}

    <title>Site Title</title>
</head>
<body class="min-h-screen flex flex-col">
    <header class="p-6">
        <div class="flex flex-col items-center font-sans">
            <h1>This is a header</h1>
        </div>
    </header>

    <div class="bg-red-500 text-white p-6 rounded-xl">
        Tailwind works
    </div>
    <button class="btn btn-primary">
        DaisyUI works
    </button>

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer class="p-6 mt-4">
        <div class="flex flex-col items-center font-sans">
            <p class="text-lg">© 2026</p>
        </div>
    </footer>
</body>
</html>
